<h2 class="title">Listing articles</h2>
 <center>
<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
  </tr>
  <% @article.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.body %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article)%></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to 'New article', new_article_path %>
</center>
<ul>
  <li class="class"></li>
</ul>
